In [1]:
from bs4 import BeautifulSoup
import requests

### 1) Write a python program to display IMDB’s Top rated 100 Indian movies’ data https://www.imdb.com/list/ls056092300/ (i.e. name, rating, year ofrelease) and make data frame.

In [2]:
page=requests.get("https://www.imdb.com/list/ls056092300/")
page

In [4]:
data=BeautifulSoup(page.content)

In [5]:
names=[]
for i in data.find_all('h3',class_="lister-item-header"):
    name=i.a.text
    names.append(name.strip())
print(names)

['Ship of Theseus', 'Iruvar', 'Kaagaz Ke Phool', 'Lagaan: Once Upon a Time in India', 'Pather Panchali', 'Charulata', 'Rang De Basanti', 'Dev.D', '3 Idiots', 'Awaara', 'Nayakan', 'Aparajito', 'Pushpaka Vimana', 'Pyaasa', 'Ghatashraddha', 'Sholay', 'Aradhana', 'Do Ankhen Barah Haath', 'Bombay', 'Neecha Nagar', 'Do Bigha Zamin', 'Garm Hava', 'Piravi', 'Mughal-E-Azam', 'Amma Ariyan', 'Madhumati', 'Goopy Gyne Bagha Byne', 'Gangs of Wasseypur', 'Guide', 'Satya', 'Roja', 'Mr. India', 'The Cloud-Capped Star', 'Harishchandrachi Factory', 'Masoom', 'Agneepath', 'Tabarana Kathe', 'Zakhm', 'Dil Chahta Hai', 'Bhaag Milkha Bhaag', 'Chupke Chupke', 'Dilwale Dulhania Le Jayenge', 'Taare Zameen Par', 'Ardh Satya', 'Bhumika', 'Enthiran', 'Sadma', 'Shwaas', 'Lamhe', 'Haqeeqat', 'Shree 420', 'Kannathil Muthamittal', 'Hum Aapke Hain Koun..!', 'Ustad Hotel', 'Bandit Queen', 'Lakshya', 'Black Friday', 'Manthan', 'Apoorva Raagangal', 'English Vinglish', 'Jewel Thief', 'Pakeezah', 'Maqbool', 'Jis Desh Men Ganga Behti Hai', 'Sahib Bibi Aur Ghulam', 'Shatranj Ke Khilari', 'Narthanasala', 'Chandni Bar', 'Vaaranam Aayiram', 'Mr. and Mrs. Iyer', 'Chandni', 'English, August', 'Celluloid', 'Sagara Sangamam', 'Munna Bhai M.B.B.S.', 'Saaransh', 'Guddi', 'Vanaja', 'Vazhakku Enn 18/9', 'Gangaajal', 'Angoor', 'Guru', 'Andaz Apna Apna', 'Sangam', 'Oka Oori Katha', 'Bhuvan Shome', 'Border', 'Parineeta', 'Devdas', 'Abohomaan', 'Kuch Kuch Hota Hai', 'Pithamagan', 'Veyyil', 'Chemmeen', 'Jaane Bhi Do Yaaro', 'Apur Sansar', 'Kanchivaram', 'Monsoon Wedding', 'Black', 'Deewaar']

In [6]:
ratings=[]
for i in data.find_all('div',class_="ipl-rating-star small"):
    x=i.find('span',class_="ipl-rating-star__rating").text
    ratings.append(x)
print(ratings)

['8', '8.4', '7.8', '8.1', '8.2', '8.1', '8.1', '7.9', '8.4', '7.8', '8.6', '8.2', '8.6', '8.3', '7.6', '8.1', '7.6', '8.4', '8.1', '6.6', '8.3', '8', '7.8', '8.1', '7.4', '7.8', '8.7', '8.2', '8.3', '8.3', '8.1', '7.7', '7.8', '8.4', '8.4', '7.6', '8.1', '7.9', '8.1', '8.2', '8.3', '8', '8.3', '8.1', '7.4', '7.1', '8.3', '8.2', '7.2', '7.8', '7.9', '8.3', '7.5', '8.2', '7.5', '7.8', '8.4', '7.6', '7.6', '7.8', '7.9', '7.2', '8', '7.1', '8.1', '7.5', '8.1', '7.6', '8.2', '7.9', '6.7', '7.7', '7.7', '8.8', '8.1', '8.1', '7.2', '7.2', '8.3', '7.8', '8.3', '7.7', '8', '7.3', '7.8', '7.2', '7.9', '7.2', '7.7', '7.5', '7.5', '8.3', '7.9', '7.8', '8.3', '8.4', '8.2', '7.3', '8.1', '8']

In [7]:
year=[]
for i in data.find_all('span',class_="lister-item-year text-muted unbold"):
    year.append(i.text)
print(year)

['(2012)', '(1997)', '(1959)', '(2001)', '(1955)', '(1964)', '(2006)', '(2009)', '(2009)', '(1951)', '(1987)', '(1956)', '(1987)', '(1957)', '(1977)', '(1975)', '(1969)', '(1957)', '(1995)', '(1946)', '(1953)', '(1974)', '(1989)', '(1960)', '(1986)', '(1958)', '(1969)', '(2012)', '(1965)', '(1998)', '(1992)', '(1987)', '(1960)', '(2009)', '(1983)', '(1990)', '(1986)', '(1998)', '(2001)', '(2013)', '(1975)', '(1995)', '(2007)', '(1983)', '(1977)', '(2010)', '(1983)', '(2004)', '(1991)', '(1964)', '(1955)', '(2002)', '(1994)', '(2012)', '(1994)', '(2004)', '(2004)', '(1976)', '(1975)', '(2012)', '(1967)', '(1972)', '(2003)', '(1960)', '(1962)', '(1977)', '(1963)', '(2001)', '(2008)', '(2002)', '(1989)', '(1994)', '(2013)', '(1983)', '(2003)', '(1984)', '(1971)', '(2006)', '(2012)', '(2003)', '(1982)', '(2007)', '(1994)', '(I) (1964)', '(1978)', '(1969)', '(I) (1997)', '(2005)', '(1955)', '(2009)', '(1998)', '(2003)', '(2006)', '(1965)', '(1983)', '(1959)', '(2008)', '(2001)', '(2005)', '(1975)']

In [8]:
import pandas as pd
df=pd.DataFrame({"NAMES":names,"Ratings":ratings,"YEAR OF RELESE":year})
df

                                NAMES Ratings YEAR OF RELESE
0                     Ship of Theseus       8         (2012)
1                              Iruvar     8.4         (1997)
2                     Kaagaz Ke Phool     7.8         (1959)
3   Lagaan: Once Upon a Time in India     8.1         (2001)
4                     Pather Panchali     8.2         (1955)
..                                ...     ...            ...
95                        Apur Sansar     8.4         (1959)
96                        Kanchivaram     8.2         (2008)
97                    Monsoon Wedding     7.3         (2001)
98                              Black     8.1         (2005)
99                            Deewaar       8         (1975)

[100 rows x 3 columns]

### 4) Write a python program to scrape details of all the posts from https://www.patreon.com/coreyms .Scrape the heading, date, content and the likes for the video from the link for the youtube video from the post.

In [9]:
page=requests.get("https://www.patreon.com/coreyms")
page

In [10]:
data=BeautifulSoup(page.content)

In [11]:
headings=[]
for i in data.find_all("div",class_="sc-bBHxTw iloeMK"):
    c=i.find_all('span',class_="sc-1cvoi1y-0 hxhWXn").text
    headings.append(c)
headings

[]

In [12]:
date=[]
for i in data.find_all('div',class_="sc-lgu5zg-0 dXpjXs"):
    x=i.find("p",class_="sc-bqiRlB etUZPh sc-lgu5zg-1 bDqjCN")
    y=x.find('a',class_='sc-kfPuZi doifNG')
    date.append(y.text)
date

[]

### 5) Write a python program to scrape house details from mentioned URL. It should include house title, location, area, EMI and price from https://www.nobroker.in/ .Enter three localities which are Indira Nagar, Jayanagar, Rajaji Nagar.

In [13]:
page=requests.get("https://www.nobroker.in/")
page

In [15]:
data=BeautifulSoup(page.content)

In [16]:
title=[]
for i in data.find_all('')

SyntaxError: expected ':' (100623395.py, line 2)

### 6) Write a python program to scrape first 10 product details which include product name , price , Image URL from
https://www.bewakoof.com/bestseller?sort=popular .

In [17]:
page=requests.get("https://www.bewakoof.com/bestseller?sort=popular")
page

In [18]:
data=BeautifulSoup(page.content)

In [19]:
name=[]
for i in data.find_all('div',class_="productNaming bkf-ellipsis"):
    x=i.find('h2',class_='clr-shade4 h3-p-name   undefined false  ')
    name.append(x)
name

[None, None, None, None, None, None, None, None, None, None]

In [20]:
price=[]
for i in data.find_all('div',class_='productPriceBox d-flex align-items-end  false'):
    x=i.find('div',class_='discountedPriceText clr-p-black   false  ')
    price.append(x.span.text)
price

[]

### 7) Please visit https://www.cnbc.com/world/?region=world and scrap- a) headings b) date c) News link

In [21]:
page=requests.get("https://www.cnbc.com/world/?region=world")
page

In [22]:
data=BeautifulSoup(page.content)

In [23]:
headings=[]
for i in data.find_all('')

SyntaxError: expected ':' (3245402747.py, line 2)

### 8) Please visit https://www.keaipublishing.com/en/journals/artificial-intelligence-in-agriculture/most-downloaded-articles/ and scrap- a) Paper title b) date c) Author

In [24]:
page=requests.get("https://www.keaipublishing.com/en/journals/artificial-intelligence-in-agriculture/most-downloaded-articles/ ")
page

In [25]:
data=BeautifulSoup(page.content)

In [26]:
paper_titles=[]
for i in data.find_all('h2',class_='h5 article-title'):
    paper_title.append(x.text)
paper_titles

[]

In [27]:
dates=[]
for i in data.find_all('p',class_='article-date'):
    date.append(x.text)
date

[]

In [28]:
authors=[]
for i in data.find_all('p',class_="article-authors"):
    authors.append(i.text)
authors

[]