In [1]:
#Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
import re
target_string='Python Exercises, PHP exercises.'
repl=":"
pattern="[\W]"
result=re.sub(pattern,repl,target_string)
print(result)

Python:Exercises::PHP:exercises:

In [334]:
#Question 2- Create a dataframe using the dictionary below and remove everything (commas (,), !,
#XXXX, ;, etc.) from the columns except words.
import re
import pandas as pd
df=pd.DataFrame({'SUMMARY':['hello,world!','XXXXX test','123four,five:;six....']})
df

                 SUMMARY
0           hello,world!
1             XXXXX test
2  123four,five:;six....

In [526]:
pattern=r'(\w+[^\w+\d+X+\s\d+])'
a=df['SUMMARY'].str.extract(pattern)
a

          0
0    hello,
1       NaN
2  123four,

In [439]:
#Question 3- Create a function in python to find all words that are at least 4 characters long in a
#string. The use of the re.compile() method is mandatory.
import re
text='I Want To Become A Software Engineer. My Internship Number Is DS2402'
pattern=re.compile(r'[\w]{4,}')
result=pattern.findall(text)
print(result)

#another answer:
text2="my Name Is Pravalika. My email is pravalika@gmail.com. my datatrained number DSG0853"
result2=pattern.findall(text2)
print(result2)

['Want', 'Become', 'Software', 'Engineer', 'Internship', 'Number', 'DS2402']
['Name', 'Pravalika', 'email', 'pravalika', 'gmail', 'datatrained', 'number', 'DSG0853']

In [3]:
#Question 4- Create a function in python to find all three, four, and five character words in a string.
#The use of the re.compile() method is mandatory.
import re
text='I Want To Become A Software Engineer. My Internship Number Is DS2402'
pattern=re.compile(r'[\w]{3,5}')
result=pattern.findall(text)
print(result)

#another answer
text2="my Name Is Pravalika. My email is pravalika@gmail.com. my datatrained number DSG0853"
result2=pattern.findall(text2)
print(result2)

['Want', 'Becom', 'Softw', 'are', 'Engin', 'eer', 'Inter', 'nship', 'Numbe', 'DS240']
['Name', 'Prava', 'lika', 'email', 'prava', 'lika', 'gmail', 'com', 'datat', 'raine', 'numbe', 'DSG08']

In [318]:
#Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the
#re.compile() method is mandatory.
import re
target_string=["example(.com)", "hr@fliprobo(.com)","github (.com)", "Hello (Data Science World)","Data (Scientist)"]
for i in target_string:
    pattern=re.compile(r"[\(\)]|(\([A-Za-z]+\)(\s)([A-Za-z]+))")
    res=pattern.sub("",i)
    print(res)

example.com
hr@fliprobo.com
github .com
Hello Data Science World
Data Scientist

In [134]:
#Question 6- Write a python program to remove the parenthesis area from the text stored in the text
#file using Regular Expression.
import re
text="example (.com)","hr@fliprobo (.com)","github (.com)","Hello (Data Science World)","Data (Scientist)"
for i in text:
    comp=re.compile(r"\(.com\)|(\s\([A-Za-z]+)(\s[A-Za-z]+)*\)")
    res=comp.sub(r"",i)
    print(res)

example
hr@fliprobo
github
Hello
Data

In [117]:
#Question 7- Write a regular expression in Python to split a string into uppercase letters.
import re
text='ImportanceOfRegularExpressionsInPython'
pattern=r'[A-Z][a-z]+'
result=re.findall(pattern,text)
print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [433]:
#Question 8- Create a function in python to insert spaces between words starting with numbers.
import re
text="RegularExpression1IsAn2ImportantTopic3InPython"
pattern=r'(\d)'
result=re.sub(pattern,r" \1",text)
print(result)

RegularExpression 1IsAn 2ImportantTopic 3InPython

In [434]:
#Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.
import re
text="RegularExpression1IsAn2ImportantTopic3InPython"
pattern=(r"(\d)([A-Z][a-z]+)")
result=re.sub(pattern,r" \1 \2",text)
print(result)

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [258]:
#Question 10- Use the github link below to read the data and create a dataframe. After creating the
#dataframe extract the first 6 letters of each country and store in the dataframe under a new column
#called first_five_letters.
import re
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv')
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [264]:
pattern=r"(\w{6})"
df["first_six_letters"]=df['Country'].str.extract(pattern)
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_six_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada

In [441]:
#Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.
import re
text="!@#$%&^*(^#()%#&())+-*/.<>?|}{[]DSsg_082@3455"
pattern=r"([A-Za-z0-9_]+)"
result=re.search(pattern,text)
print(result)

#another answer:
text="@!@#$%&^*(^#()dSG0823%#&())+-*/.<>?|}{[]"
pattern2=r"([A-Za-z0-9_]+)"
result2=re.search(pattern2,text)
print(result2)

<re.Match object; span=(32, 40), match='DSsg_082'>
<re.Match object; span=(14, 21), match='dSG0823'>

In [444]:
#Question 12- Write a Python program where a string will start with a specific number.
import re
text="mobile number starts from 7569856992,8124854853,9125862257,785ABCD"
pattern=r"[7][\w]+"
result=re.findall(pattern,text)
print(result)

['7569856992', '785ABCD']

In [450]:
#Question 13- Write a Python program to remove leading zeros from an IP address
import re
ip_address="0000192.158.1.38."
pattern=r"0"
result=re.findall(ip_address.strip(pattern),ip_address)
print(result)

['192.158.1.38.']

In [480]:
#Question 14- Write a regular expression in python to match a date string in the form of Month name
#followed by day number and year stored in a text file.
text="On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country"
pattern=re.compile(r"([A-Za-z]+)(\s)([\d]+[a-z]+)(\s)(\d{4})")
for i in pattern.finditer(text):
    print(i.group())

August 15th 1947

In [265]:
#Question 15- Write a Python program to search some literals strings in a string.
import re
text="The quick brown fox jumps over the lazy dog."
pattern=re.compile(r'([a-i]o\w+)')
for i in pattern.finditer(text):
    print(i.group())

fox
dog

In [277]:
#Question 16- Write a Python program to search a literals string in a string and also find the location
#within the original string where the pattern occurs
import re
text="he quick brown fox jumps over the lazy dog."
pattern=r"([a-f]o\w+)"
result=re.search(pattern,text)
print(result)

<re.Match object; span=(15, 18), match='fox'>

In [272]:
#Question 17- Write a Python program to find the substrings within a string.
import re
text="Python exercises, PHP exercises, C# exercises"
comp=re.compile("exercises")
for i in comp.finditer(text):
    print(i.group())

exercises
exercises
exercises

In [483]:
text="Python exercises, PHP exercises, C# exercises"
comp="exercises"
result=re.findall(comp,text)
print(result)

['exercise', 'exercise', 'exercise']

In [457]:
#Question 18- Write a Python program to find the occurrence and position of the substrings within a string.
import re
text="my Name Is Pravalika. My email is pravalika@gmail.com. my datatrained number DSG0853"
pattern=r"(\w+)(\.com)"
result=re.search(pattern,text)
print(result)

<re.Match object; span=(44, 53), match='gmail.com'>

In [470]:
#Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.
text="yyyy-mm-dd"
pattern=r"(\w){4}-(\w){2}-(\w){2}"
replace=r"(\w){2}-(\w){2}-(\w){4}"
result=re.sub(pattern,repl,text)
print(result)

(d{2})-(m{2})-(y{4}])

In [484]:
#Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a
#string. The use of the re.compile() method is mandatory.
import re
text="01.12 0132.123 2.31875 145.8 3.01 27.25 0.25 "
pattern=r"(\d+\.\d{1,2})\s"
result=re.findall(pattern,text)
print(result)
#pattern=r"(\d+\.\d{1,2}\s)"

['01.12', '145.8', '3.01', '27.25', '0.25']

In [487]:
#Question 21- Write a Python program to separate and print the numbers and their position of a given string.
import re
text="my Name Is Pravalika. My email is pravalika@gmail.com. my datatrained number DSG0853"
pattern=r"(\d+)"
result=re.search(pattern,text)
print(result)

<re.Match object; span=(80, 84), match='0853'>

In [279]:
#Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
import re
text="My marks in each semester are: 947, 896, 926, 524, 734, 950, 642";
pattern=r"\d+"
result=re.findall(pattern,text)
x=map(int,result)
print(max(x))

950

In [456]:
#Question 23- Create a function in python to insert spaces between words starting with capital letters.
import re
text="RegularExpressionIsAnImportantTopicInPython"
pattern=(r"([A-Z][a-z]+)([A-Z][a-z]+)")
result=re.sub(pattern, r" \1 \2",text)
print(result)

 Regular Expression Is An Important Topic In Python

In [458]:
#Question 24- Python regex to find sequences of one upper case letter followed by lower case letters
text="PanCard number is Alphanumeric Number like abcd123 and xyz9874"
pattern=r"[A-Z][a-z]+"
result=re.findall(pattern,text)
print(result)

['Pan', 'Card', 'Alphanumeric', 'Number']

In [531]:
#Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
text="Hello hello world world"
pattern=r"\b(\w+)(?:\W+\1\b)+"
result=re.sub(pattern,r'\1',text)
print(result)

Hello hello world

In [365]:
#Question 26- Write a python program using RegEx to accept string ending with alphanumeric character.
text="pan card number is alphanumeric number like abcd123 and xyz9874"
pattern=r"\b[A-Za-z]+[0-9]+\b"
result=re.findall(pattern,text)
print(result)

['abcd123', 'xyz9874']

In [362]:
#Question 27-Write a python program using RegEx to extract the hashtags.
import re
text=""""RT @kapil_kausik: #Doltiwal I mean #xyzabc is &quot;hurt&quot; by #Demonetization as the same
has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
comp=re.compile(r"(#\w+)")
result=comp.findall(text)
print(result)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [533]:
#Question 28- Write a python program using RegEx to remove <U+..>like symbols
#Check the below sample text, there are strange symbols something of the sort<U+..> all over the place.
#You need to come up with a general Regex expression that will cover all such symbols.
import re
text="@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders"
pattern=r"(<U\+\d{2}[A-Z]*\d*>)"
result=re.sub(pattern,"",text)
print(result)

@Jags123456 Bharat band on 28??<ed><ed>Those who are protesting #demonetization are all different party leaders

In [485]:
#Question 29- Write a python program to extract dates from the text stored in the text file.
#Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
#Note- Store this sample text in the file and then extract dates.
import re
text="Ron was born on 12-09-1992 and he was admitted to school 15-12-1999"
comp=re.compile(r"(\b\d{2}-\d{2}-\d{4}\b)")
dates=comp.findall(text)
print(dates)

['12-09-1992', '15-12-1999']

In [301]:
#Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
#The use of the re.compile() method is mandatory.
import re
text="The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
comp=re.compile(r"(\s?\b\w{2,4}\b)")
result=comp.sub("",text)
print(result)

 following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.