In [8]:
#Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
import re
target_string='Python Exercises, PHP exercises.'
repl=":"
pattern="[\W]"
result=re.sub(pattern,repl,target_string)
print(result)

Python:Exercises::PHP:exercises:

In [9]:
import pandas as pd
df=pd.DataFrame({'SUMMARY':['hello,world!','XXXXX test','123four,five:;six....']})
df

                 SUMMARY
0           hello,world!
1             XXXXX test
2  123four,five:;six....

In [19]:
#pattern="[\W*]"
pattern=r'\W+'
df['SUMMARY'].str.replace(pattern,lambda m:m.group().upper())
df

C:\Users\prava\AppData\Local\Temp\ipykernel_24928\1565713249.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df['SUMMARY'].str.replace(pattern,lambda m:m.group().upper())

                 SUMMARY
0           hello,world!
1             XXXXX test
2  123four,five:;six....

In [62]:
#Question 3- Create a function in python to find all words that are at least 4 characters long in astring. 
#The use of the re.compile() method is mandatory.
import re
text='I Want To Become A Software Engineer. My Internship Number Is DS2402'
pattern=re.compile(r'[\w]{4,}')
result=pattern.findall(text)
print(result)

['Want', 'Become', 'Software', 'Engineer', 'Internship', 'Number', 'DS2402']

In [63]:
##Question 4- Create a function in python to find all three, four, and five character words in a string.
##The use of the re.compile() method is mandatory.
target_string='I Want To Become A Software Engineer. My Internship Number Is DS2402'
pattern=re.compile(r'[\w]{3,5}')
result=pattern.findall(target_string)
print(result)

['Want', 'Becom', 'Softw', 'are', 'Engin', 'eer', 'Inter', 'nship', 'Numbe', 'DS240']

In [97]:
##Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the
##re.compile() method is mandatory.
target_string=["example (.com)", "hr@fliprobo(.com)","github(.com)", "Hello (Data Science World)","Data (Scientist)"]
for i in target_string:
    pattern=re.compile(r"[\s()]",flags=0)
    res=pattern.sub("",i)
    print(res)

example.com
hr@fliprobo.com
github.com
HelloDataScienceWorld
DataScientist

In [110]:
#Question 6- Write a python program to remove the parenthesis area from the text stored in the text
#file using Regular Expression.
text=["example (.com)","hr@fliprobo (.com)","github (.com)","Hello (Data Science World)","Data (Scientist)"]
for i in text:
    comp=re.compile(r"[(.com)]|",flags=0)
    res=re.sub(comp,"",i)
    print(res)

exaple
hr@fliprb
github
Hell Data Siene Wrld
Data Sientist

In [7]:
import re
text="example(.com)" "hr@fliprobo (.com)" "github (.com)" "Hello(Data Science World)" "Data(Scientist)"
pattern=re.compile(r'^(.com)')
for i in pattern.finditer(text):
    print(i,group())

In [31]:
#Question 7- Write a regular expression in Python to split a string into uppercase letters.
#Sample text: “ImportanceOfRegularExpressionsInPython”
#Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]
text='ImportanceOfRegularExpressionsInPython'
pattern=r'[A-Z][a-z]+'
result=re.findall(pattern,text)
print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [118]:
#Question 8- Create a function in python to insert spaces between words starting with numbers.
#Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython&quot;
#Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython
text="RegularExpression1IsAn2ImportantTopic3InPython"
pattern=r'[\d]'
result=re.sub(pattern,' ',text)
print(result)

RegularExpression IsAn ImportantTopic InPython

In [17]:
data=pd.read_csv('https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv')
df

NameError: name 'pd' is not defined

In [183]:
df['Country']

0      Switzerland
1          Iceland
2          Denmark
3           Norway
4           Canada
          ...
153         Rwanda
154          Benin
155          Syria
156        Burundi
157           Togo
Name: Country, Length: 158, dtype: object

In [20]:
text="example (.com)","hr@fliprobo (.com)","github (.com)","Hello (Data Science World)","Data (Scientist)"
for i in text:
    comp=re.compile(r"\(.\)",flags=0)
    res=comp.sub("",i)
    print(res)

example (.com)
hr@fliprobo (.com)
github (.com)
Hello (Data Science World)
Data (Scientist)