In [20]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import time
import warnings 
warnings.filterwarnings('ignore')

### Q1: In this question you have to scrape data using the filters available on the webpage You have to use the location and
salary filter.
You have to scrape data for ‚ÄúData Scientist‚Äù designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is ‚ÄúDelhi/NCR‚Äù. The salary filter to be used is ‚Äú3-6‚Äù lakhs
The task will be done as shown in the below steps:
1. first get the web page https://www.naukri.com/
2. Enter ‚ÄúData Scientist‚Äù in ‚ÄúSkill, Designations, and Companies‚Äù field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [21]:
naukri=webdriver.Chrome()

In [22]:
naukri.get('https://www.naukri.com/')

In [23]:
title=naukri.find_element(By.CLASS_NAME,"suggestor-input ")
title.send_keys('Data Scientist')

In [24]:
search=naukri.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[6]')
search.click()

In [26]:
location_filter=naukri.find_element(By.XPATH,'//div[@class="styles_filterContainer__4aQaD"][5]/div[2]/div[2]')
location_filter.click()

In [27]:
salary_filter=naukri.find_element(By.XPATH,'//div[@class="styles_filterContainer__4aQaD"][6]/div/div[2]')
salary_filter.click()

In [28]:
job_titles=[]
job_locations=[]
company_names=[]
experience_required=[]

In [29]:
title_tags=naukri.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for t in title_tags:
    tit=t.text
    job_titles.append(tit)
print(job_titles)

['Data Scientist', 'Data Scientist', 'Data Scientist', 'Senior Data Scientist/ Data Scientist', 'Lead Data Scientist', 'Python Data Scientist', 'Associate Data Scientist', 'Associate Data Scientist', 'Data Scientist', 'Lead Customer Success - Data Scientist', 'Assistant Manager/Manager/Senior Manager - Data Scientist', 'Data Scientist', 'Python and ML Trainer', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist - Gen AI/LLM/Investment Banking/Asset Management', 'Data Scientist - Computer Vision - Consulting Firm', 'Data Scientist Analyst']

In [30]:
print(len(job_titles))

20

In [31]:
location_tags=naukri.find_elements(By.XPATH,'//span[@class="locWdth"]')
for l in location_tags:
    loc=l.text
    job_locations.append(loc)
print(job_locations)

['Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru', 'Gurugram, Bengaluru', 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru', 'Mumbai, Pune, Chennai, Gurugram, Bengaluru', 'Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru', 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru', 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru', 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru', 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru', 'Pune, Gurugram', 'Gurugram, Bengaluru', 'Noida', 'Hyderabad, New Delhi, Pune, Gurugram, Bengaluru', 'Gurugram, Bengaluru', 'Varanasi, Kannur, Mumbai, New Delhi', 'Noida, Uttar Pradesh, Gurugram, Haryana', 'Gurugram', 'Gurugram', 'Gurugram, Gurgaon/Gurugram', 'Gurugram']

In [32]:
print(len(job_locations))

20

In [33]:
company_tags=naukri.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')
for c in company_tags:
    com=c.text
    company_names.append(com)
print(company_names)

['Kashsam Data Solutions', 'Blackbuck', 'Scienaptic Systems', 'Neal Analytics', 'Elitefit.ai', 'Wizaltia Hr Solutions', 'Kmart', 'KAS Services', 'Fort Technologies', 'ZS Associates', 'Leading Client', 'Times Internet', 'The Scholar', 'Acenet', 'Searchurcollege', 'Adglobal360', 'Sampark Softwares', 'Leading Client', 'Leading Client', 'Aryng']

In [34]:
print(len(company_names))

20

In [35]:
experience_tags=naukri.find_elements(By.XPATH,'//span[@class="expwdth"]')
for e in experience_tags:
    exp=e.text
    experience_required.append(exp)
print(experience_required)

['3-7 Yrs', '3-7 Yrs', '2-7 Yrs', '3-7 Yrs', '3-7 Yrs', '2-7 Yrs', '1-2 Yrs', '1-2 Yrs', '1-3 Yrs', '2-4 Yrs', '2-7 Yrs', '3-8 Yrs', '3-8 Yrs', '3-4 Yrs', '1-3 Yrs', '4-9 Yrs', '3-5 Yrs', '4-9 Yrs', '3-8 Yrs', '3-5 Yrs']

In [36]:
print(len(experience_required))

20

In [37]:
df=pd.DataFrame({'JOB TITLES':job_titles[:10],'JOB LOCATIONS':job_locations[:10],
                 'COMPANY NAMES':company_names[:10],'EXPERIENCE REQUIRED':experience_required[:10]})
df

,JOB TITLES,JOB LOCATIONS,COMPANY NAMES,EXPERIENCE REQUIRED
0,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Kashsam Data Solutions,3-7 Yrs
1,Data Scientist,"Gurugram, Bengaluru",Blackbuck,3-7 Yrs
2,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Scienaptic Systems,2-7 Yrs
3,Senior Data Scientist/ Data Scientist,"Mumbai, Pune, Chennai, Gurugram, Bengaluru",Neal Analytics,3-7 Yrs
4,Lead Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Elitefit.ai,3-7 Yrs
5,Python Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Wizaltia Hr Solutions,2-7 Yrs
6,Associate Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Kmart,1-2 Yrs
7,Associate Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",KAS Services,1-2 Yrs
8,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Fort Technologies,1-3 Yrs
9,Lead Customer Success - Data Scientist,"Pune, Gurugram",ZS Associates,2-4 Yrs

### Q2: Write a python program to scrape data for ‚ÄúData Scientist‚Äù Job position in ‚ÄúBangalore‚Äù location. You have to scrape the
job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter ‚ÄúData Analyst‚Äù in ‚ÄúJob title, Skills‚Äù field and enter ‚ÄúBangalore‚Äù in ‚Äúenter the location‚Äù field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [38]:
shine=webdriver.Chrome()

In [45]:
shine.get('https://www.shine.com/')

In [46]:
job_title=shine.find_element(By.CLASS_NAME,"form-control  ")
job_title.send_keys('Data Analyst')

In [47]:
job_location=shine.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
job_location.send_keys('Bangalore')

In [48]:
search=shine.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
search.click()

In [49]:
job_titles=[]
job_locations=[]
company_names=[]
experience_required=[]

In [50]:
title_tags=shine.find_elements(By.XPATH,'//strong[@class="jobCard_pReplaceH2__xWmHg"]/a')
for t in title_tags:
    tit=t.text
    job_titles.append(tit)
print(job_titles)

['Data Analyst Recruitment', 'Data Analyst Recruitment', 'Data Analyst (Power BI, Python, SQL)- Internal Audit do ...', 'Clinical Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Governance Analyst', 'Data Engineer Ii', 'Data Engineer Ii', 'Hiring For Data Analyst', 'Azure Data engineer', 'Business Analyst', 'Business Analyst', 'Clinical Data Analyst', 'Oracle Utilities (customer care & Billing) CC&B Busines ...', 'Clinical Data Analyst', 'Data Executive karnataka', 'Clinical Coding Analyst', 'Online Data Entry work (Work from Home)', 'Business Analyst Opening']

In [51]:
print(len(job_titles))

20

In [52]:
location_tags=shine.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for l in location_tags:
    loc=l.text
    job_locations.append(loc)
print(job_locations)

['Bangalore\n+12', 'Bangalore\n+12', 'Bangalore', 'Bangalore\n+6', 'Bangalore\n+9', 'Bangalore\n+9', 'Bangalore', 'Bangalore\n+9', 'Bangalore\n+9', 'Bangalore\n+12', 'Bangalore\n+4', 'Bangalore\n+9', 'Bangalore', 'Bangalore\n+6', 'Bangalore\n+2', 'Bangalore\n+6', 'Bangalore\n+9', 'Bangalore\n+8', 'Bangalore\n+9', 'Bangalore\n+13']

In [53]:
print(len(job_locations))

20

In [54]:
company_tags=shine.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for c in company_tags:
    com=c.text
    company_names.append(com)
print(company_names)

['radhika enterprises', 'radhika enterprises', 'talent leads hr solutions pvt ltd', 'techno endura', 'sahast sales corporation', 'sahast sales corporation', 'white horse manpower consultancy (p...', 'v-tech data outsourcing', 'v-tech data outsourcing', 'radhika enterprises', 'capgemini technology services india...', 'sunita agri exports private limited', 'wehyre business consultancy', 'techno endura', 'ltimindtree limited', 'techno endura', 'v-tech data outsourcing', 'acura solutions. hiring for clinica...', 'aspect solution', 'divya staffing solution']

In [55]:
print(len(company_names))

20

In [56]:
experience_tags=shine.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for e in experience_tags:
    exp=e.text
    experience_required.append(exp)
print(experience_required)

['0 to 4 Yrs', '0 to 4 Yrs', '3 to 8 Yrs', '0 to 1 Yr', '12 to 22 Yrs', '12 to 22 Yrs', '5 to 8 Yrs', '0 to 1 Yr', '0 to 1 Yr', '0 to 4 Yrs', '6 to 10 Yrs', '7 to 12 Yrs', '2 to 7 Yrs', '0 to 1 Yr', '5 to 9 Yrs', '0 to 1 Yr', '0 to 1 Yr', '3 to 5 Yrs', '0 to 1 Yr', '0 to 4 Yrs']

In [57]:
print(len(experience_required))

20

In [58]:
df=pd.DataFrame({'JOB TITLES':job_titles[0:10],'JOB LOCATIONS':job_locations[0:10],
                 'COMPANY NAMES':company_names[0:10],'EXPERIENCE REQUIRED':experience_required[:10]})
df

,JOB TITLES,JOB LOCATIONS,COMPANY NAMES,EXPERIENCE REQUIRED
0,Data Analyst Recruitment,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
1,Data Analyst Recruitment,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
2,"Data Analyst (Power BI, Python, SQL)- Internal...",Bangalore,talent leads hr solutions pvt ltd,3 to 8 Yrs
3,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
4,Data Analyst,Bangalore\n+9,sahast sales corporation,12 to 22 Yrs
5,Data Analyst,Bangalore\n+9,sahast sales corporation,12 to 22 Yrs
6,Data Governance Analyst,Bangalore,white horse manpower consultancy (p...,5 to 8 Yrs
7,Data Engineer Ii,Bangalore\n+9,v-tech data outsourcing,0 to 1 Yr
8,Data Engineer Ii,Bangalore\n+9,v-tech data outsourcing,0 to 1 Yr
9,Hiring For Data Analyst,Bangalore\n+12,radhika enterprises,0 to 4 Yrs

### Q3: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:

https://www.flipkart.com/apple-iphone-11-black-64-gb/product-
reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=F

LIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.

In [59]:
import time

In [60]:
flipkart=webdriver.Chrome()

In [61]:
flipkart.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART')

In [62]:
ratings=[]
start=1
end=12
for page in range(start,end):
    rating_tags=flipkart.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tags:
        rat=i.text
        ratings.append(rat)
next_button=flipkart.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')
next_button.click()
time.sleep(12)

In [63]:
print(len(ratings))

110

In [64]:
page_1=flipkart.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[2]')
page_1.click()

In [65]:
review_summary=[]
start=1
end=12
for page in range(start,end):
    review_tags=flipkart.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review_tags:
        rew=i.text
        review_summary.append(rew)
next_button=flipkart.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span')
next_button.click()
time.sleep(12)

In [66]:
print(len(review_summary))

110

In [67]:
page_1=flipkart.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[2]')
page_1.click()

In [68]:
full_reviews=[]
start=1
end=12
for page in range(start,end):
    fullreview_tags=flipkart.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in fullreview_tags:
        full_reviews.append(i.text)
next_button=flipkart.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')
next_button.click()
time.sleep(12)

In [69]:
print(len(full_reviews))

110

In [70]:
df=pd.DataFrame({'RATINGS':ratings[:100],'REVIEWS':review_summary[:100],'FULL REVIEWS':full_reviews[:100]})
df

,RATINGS,REVIEWS,FULL REVIEWS
0,5,Perfect product!,Photos super
1,5,Best in the market!,Good Camera
2,5,Wonderful,This is amazing at all
3,5,Worth every penny,Feeling awesome after getting the delivery of ...
4,5,Terrific purchase,Value for money üòç
...,...,...,...
95,5,Terrific,Very very good
96,5,Must buy!,It‚Äôs really awesome
97,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
98,5,Just wow!,Perfect Product!!
99,5,Fabulous!,Superüî• and good performance üëå‚ù§Ô∏è

### Q4: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for ‚Äúsneakers‚Äù inthe search
field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price
As shown in the below image, you have to scrape the above attributes.

In [84]:
driver=webdriver.Chrome()

In [85]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART')

In [86]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('sneakers')

In [87]:
search=driver.find_element(By.XPATH,'/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [88]:
brand=[]
start=1
end=4
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
        brand.append(i.text)
next_button=driver.find_element(By.CLASS_NAME,'_1LKTO3')
next_button.click
time.sleep(4)

In [89]:
print(len(brand))

120

In [90]:
page_1=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[1]')
page_1.click()

In [91]:
productdescription=[]
start=1
end=4
for page in range(start,end):
    productdesc_tags=driver.find_elements(By.XPATH,'//div[@class="_2B099V"]/a[1]')
    for i in productdesc_tags:
        productdescription.append(i.text)
next_button=driver.find_element(By.CLASS_NAME,'_1LKTO3')
next_button.click
time.sleep(4)

In [92]:
print(len(productdescription))

120

In [93]:
page_1=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[1]')
page_1.click()

In [94]:
price=[]
start=1
end=4
for page in range(start,end):
    price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
        price.append(i.text)
next_button=driver.find_element(By.CLASS_NAME,'_1LKTO3')
next_button.click()
time.sleep(3)

In [95]:
print(len(price))

120

In [96]:
df=pd.DataFrame({'BRAND':brand[:100],'PRODUCT DESCRIPTION':productdescription[:100],'PRICE':price[:100]})
df

           BRAND                                PRODUCT DESCRIPTION   PRICE
0         Layasa  Trending Stylish Casual Outdoor Shoes Sneakers...    ‚Çπ299
1         BRUTON                                 Sneakers For Women    ‚Çπ379
2       URBANBOX  Casual Sneakers Colour Blocked Shoes For Boys ...    ‚Çπ449
3      Deals4you                           Flyumph Sneakers For Men  ‚Çπ1,066
4   Robbie jones                             LEXUS Sneakers For Men    ‚Çπ937
..           ...                                                ...     ...
95  Robbie jones                                   Sneakers For Men    ‚Çπ411
96        BRUTON  Casual Sneakers Shoes for Men | Soft Cushioned...  ‚Çπ1,179
97        BRUTON                                 Sneakers For Women    ‚Çπ584
98         asian  Casual Sneaker Shoes For Men | Enhanced Comfor...  ‚Çπ1,119
99         Abros                           Daze V2 Sneakers For Men  ‚Çπ1,066

[100 rows x 3 columns]

### Q5: Go to webpage https://www.amazon.in/ Enter ‚ÄúLaptop‚Äù in the search field and then click the search icon. Then set CPU
Type filter to ‚ÄúIntel Core i7‚Äù as shown in the below image:
Aftersetting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Titles
2. Ratings
3. Price previous_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[1]')
previous_button.click()

In [110]:
amazon=webdriver.Chrome()

In [111]:
amazon.get('https://www.amazon.in/')

In [112]:
product=amazon.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
product.send_keys('Laptop')

In [113]:
search=amazon.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div')
search.click()

In [114]:
cpu_filter=amazon.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/div[19]/div/ul/span[10]/li/span/a/div/label/i')
cpu_filter.click()

In [115]:
title=[]
rating=[]
price=[]

In [116]:
title_tags=amazon.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in title_tags:
    title.append(i.text)

In [117]:
print(len(title))

24

In [118]:
rating_tags=amazon.find_elements(By.XPATH,'//span[@class="a-size-base s-underline-text"]')
for i in rating_tags:
    if i.text is None:
        rating.append('no value')
    else:
        rating.append(i.text)

In [119]:
print(len(rating))

25

In [120]:
price_tags=amazon.find_elements(By.XPATH,'//span[@class="a-price"]')
for i in price_tags:
    price.append(i.text)

In [121]:
print(len(price))

24

In [122]:
df=pd.DataFrame({'TITLES':title[:10],'RATINGS':rating[:10],'PRICES':price[:10]})
df

                                              TITLES RATINGS     PRICES
0  ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144H...     260    ‚Çπ67,990
1  GIGABYTE G5 MF-G2IN313SH Gaming Laptop Intel C...       8    ‚Çπ59,990
2  ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...     467  ‚Çπ1,13,490
3  Dell G15 5530 Gaming Laptop, Intel i7-13650HX/...       4    ‚Çπ99,990
4  Lenovo ThinkBook 15 Intel 12th Gen Core i7 15....     266    ‚Çπ57,990
5  Lenovo IdeaPad Slim 3 Intel Core i7 11th Gen 1...       3    ‚Çπ59,690
6  HP Victus Gaming Laptop, 12th Gen Intel Core i...     472    ‚Çπ81,990
7  MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...     381    ‚Çπ49,990
8  HP Pavilion X360 11th Gen Intel Core i7 14" (3...     104    ‚Çπ67,990
9  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...     152    ‚Çπ76,990

### Q6: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuote
3. Than scrap a)Quote b) Author c) Type Of Quotes

In [123]:
driver=webdriver.Chrome()

In [124]:
driver.get('https://www.azquotes.com/')

In [128]:
show_options=driver.find_element(By.XPATH,'//div[@class="mainmenu"]/a')
show_options.click()

In [129]:
top_quotes=driver.find_element(By.XPATH,'//div[@class="mainmenu"]/ul/li[5]')
top_quotes.click()

In [130]:
quote=[]
author=[]
type_of_quotes=[]

In [131]:
start=0
end=10
for page in range(start,end):
    quo=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quo:
        quote.append(i.text)
next_button=driver.find_element(By.CLASS_NAME,"next")
next_button.click()
time.sleep(10)

In [132]:
print(len(quote))

1000

In [133]:
previous_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[2]/a')
previous_button.click()

In [134]:
start=0
end=10
for page in range(start,end):
    auth=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in auth:
        author.append(i.text)
next_button=driver.find_element(By.CLASS_NAME,"next")
next_button.click()
time.sleep(10)
print(len(author))

1000

In [135]:
previous_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[2]/a')
previous_button.click()

In [136]:
start=0
end=10
for page in range(start,end):
    type_quo=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in type_quo:
        type_of_quotes.append(i.text)
next_button=driver.find_element(By.CLASS_NAME,"next")
next_button.click()
time.sleep(10)
print(len(type_of_quotes))

1000

In [137]:
df=pd.DataFrame({'QUOTES':quote,'AUTHORS':author,'TYPE OF QUOTES':type_of_quotes})
df

,QUOTES,AUTHORS,TYPE OF QUOTES
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
996,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
997,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
998,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
999,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

### Q7: Write a python program to display list of respected former Prime Ministers of India (i.e. Name,

Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/general-knowledge/list-of-
all-prime-ministers-of-india-1473165149-1

scrap the mentioned data and make the DataFrame

In [138]:
ministers=webdriver.Chrome()

In [139]:
ministers.get('https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1')

In [140]:
name=[]
born_dead=[]
term_of_office=[]
remarks=[]

In [141]:
names=[]
name_tags=ministers.find_elements(By.XPATH,'//div[@class="TableData"]/table//tr[2]/td[2]/div/strong/a')
for i in name_tags:
    name.append(i.text)
print(name)

['Jawahar Lal Nehru']

### Q8: Write a python program to display list of 50 Most expensive cars in the world
(i.e. Car name and Price) from https://www.motor1.com/

This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to type in the search bar ‚Äô50 most expensive cars‚Äô
3. Then click on 50 most expensive carsin the world..
4. Then scrap thementioned data and make the dataframe.

In [155]:
cars=webdriver.Chrome()

In [156]:
cars.get('https://www.motor1.com/')

In [161]:
search=cars.find_element(By.XPATH,'/html/body/div[9]/div[2]/div/div/div[3]/div/div/button')
search.click()

In [162]:
search_1=cars.find_element(By.XPATH,'/html/body/div[9]/div[2]/div/div/div[3]/div/div/div/form/input')
search_1.send_keys('50 most expensive cars')

In [163]:
search_2=cars.find_element(By.XPATH,'/html/body/div[9]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
search_2.click()

In [164]:
search_3=cars.find_element(By.XPATH,'//div[@class="text-box"]/h3/a')
search_3.click()

In [165]:
car_names=[]
car_tags=cars.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in car_tags:
    car_names.append(i.text)

In [166]:
print(len(car_names))

51

In [167]:
car_prices=[]
price_tags=cars.find_elements(By.XPATH)
for i in

SyntaxError: invalid syntax (2692270136.py, line 3)