In [100]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import time
import warnings 
warnings.filterwarnings('ignore')
from bs4 import BeautifulSoup
from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException

## 1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:

A)Rank 
B) Name
C) Artist 
D) Upload date 
E) Views

In [98]:
youtube=webdriver.Chrome()
youtube.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [99]:
Name=[]
Artist=[]
Upload_date=[]
Views=[]
table=youtube.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]')
for i in table:
    try:
        names1=youtube.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')
        for a in names1:
                Name.append(a.text)
    except NoSuchElementException:
        Name.append('-')
    try:
        artists=youtube.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')
        for a in names1:
            Artist.append(a.text)
    except NoSuchElementException:
        Artist.append('-')
    try:
        dates=youtube.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')
        for a in names1:
            Upload_date.append(a.text)
    except NoSuchElementException:
        Upload_date.append('-')
    try:
        views=youtube.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')
        for a in names1:
            Views.append(a.text)
    except NoSuchElementException:
        Views.append('-')
print(len(Name))
print(len(Artist))
print(len(Upload_date))
print(len(Views))

30
30
30
30

In [100]:
df=pd.DataFrame({'VIDEO NAMES':Name,'ARTISTS':Artist,'UPLOAD DATE':Upload_date,
                 'VIEWS':Views})
df

,VIDEO NAMES,ARTISTS,UPLOAD DATE,VIEWS
0,"""Baby Shark Dance""[7]","""Baby Shark Dance""[7]","""Baby Shark Dance""[7]","""Baby Shark Dance""[7]"
1,"""Despacito""[10]","""Despacito""[10]","""Despacito""[10]","""Despacito""[10]"
2,"""Johny Johny Yes Papa""[18]","""Johny Johny Yes Papa""[18]","""Johny Johny Yes Papa""[18]","""Johny Johny Yes Papa""[18]"
3,"""Bath Song""[19]","""Bath Song""[19]","""Bath Song""[19]","""Bath Song""[19]"
4,"""Shape of You""[20]","""Shape of You""[20]","""Shape of You""[20]","""Shape of You""[20]"
5,"""See You Again""[23]","""See You Again""[23]","""See You Again""[23]","""See You Again""[23]"
6,"""Wheels on the Bus""[28]","""Wheels on the Bus""[28]","""Wheels on the Bus""[28]","""Wheels on the Bus""[28]"
7,"""Phonics Song with Two Words""[29]","""Phonics Song with Two Words""[29]","""Phonics Song with Two Words""[29]","""Phonics Song with Two Words""[29]"
8,"""Uptown Funk""[30]","""Uptown Funk""[30]","""Uptown Funk""[30]","""Uptown Funk""[30]"
9,"""Gangnam Style""[31]","""Gangnam Style""[31]","""Gangnam Style""[31]","""Gangnam Style""[31]"
10,"""Learning Colors – Colorful Eggs on a Farm""[36]","""Learning Colors – Colorful Eggs on a Farm""[36]","""Learning Colors – Colorful Eggs on a Farm""[36]","""Learning Colors – Colorful Eggs on a Farm""[36]"
11,"""Dame Tu Cosita""[37]","""Dame Tu Cosita""[37]","""Dame Tu Cosita""[37]","""Dame Tu Cosita""[37]"
12,"""Masha and the Bear – Recipe for Disaster""[38]","""Masha and the Bear – Recipe for Disaster""[38]","""Masha and the Bear – Recipe for Disaster""[38]","""Masha and the Bear – Recipe for Disaster""[38]"
13,"""Axel F""[39]","""Axel F""[39]","""Axel F""[39]","""Axel F""[39]"
14,"""Sugar""[40]","""Sugar""[40]","""Sugar""[40]","""Sugar""[40]"
15,"""Baa Baa Black Sheep""[41]","""Baa Baa Black Sheep""[41]","""Baa Baa Black Sheep""[41]","""Baa Baa Black Sheep""[41]"
16,"""Counting Stars""[42]","""Counting Stars""[42]","""Counting Stars""[42]","""Counting Stars""[42]"
17,"""Lakdi Ki Kathi""[43]","""Lakdi Ki Kathi""[43]","""Lakdi Ki Kathi""[43]","""Lakdi Ki Kathi""[43]"
18,"""Roar""[44]","""Roar""[44]","""Roar""[44]","""Roar""[44]"
19,"""Waka Waka (This Time for Africa)""[45]","""Waka Waka (This Time for Africa)""[45]","""Waka Waka (This Time for Africa)""[45]","""Waka Waka (This Time for Africa)""[45]"
20,"""Sorry""[46]","""Sorry""[46]","""Sorry""[46]","""Sorry""[46]"
21,"""Shree Hanuman Chalisa""[47]","""Shree Hanuman Chalisa""[47]","""Shree Hanuman Chalisa""[47]","""Shree Hanuman Chalisa""[47]"
22,"""Humpty the train on a fruits ride""[48]","""Humpty the train on a fruits ride""[48]","""Humpty the train on a fruits ride""[48]","""Humpty the train on a fruits ride""[48]"
23,"""Thinking Out Loud""[49]","""Thinking Out Loud""[49]","""Thinking Out Loud""[49]","""Thinking Out Loud""[49]"
24,"""Perfect""[50]","""Perfect""[50]","""Perfect""[50]","""Perfect""[50]"
25,"""Dark Horse""[51]","""Dark Horse""[51]","""Dark Horse""[51]","""Dark Horse""[51]"
26,"""Let Her Go""[52]","""Let Her Go""[52]","""Let Her Go""[52]","""Let Her Go""[52]"
27,"""Faded""[53]","""Faded""[53]","""Faded""[53]","""Faded""[53]"
28,"""Girls Like You""[54]","""Girls Like You""[54]","""Girls Like You""[54]","""Girls Like You""[54]"
29,"""Lean On""[55]","""Lean On""[55]","""Lean On""[55]","""Lean On""[55]"

In [104]:
youtube.close()

## 2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/ .You need to find following details:

A) Series 
B) Place 
C) Date 
D) Time 
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [108]:
driver=webdriver.Chrome()
driver.get('https://www.bcci.tv/')

In [109]:
fixture=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
fixture.click()

In [115]:
Series=[]
place=[]
Date=[]
Time=[]
table=driver.find_elements(By.XPATH,'//div[@class="tab-inner-content"]')
for i in table:
    try:
        ser=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
        for a in ser:
            Series.append(a.text)
    except NoSuchElementException:
        Series.append('-')
    try:
        plac=driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
        for a in plac:
            place.append(a.text)
    except NoSuchElementException:
        place.append('-')
    try:
        date=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
        for a in date:
            Date.append(a.text)
    except NoSuchElementException:
        Date.append('-')
    try:
        time=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
        for a in time:
            Time.append(a.text)
    except NoSuchElementException:
        Time.append('-')

In [62]:
df=pd.DataFrame({'SERIES':Series,'PLACE':place,'DATE':Date,'TIME':Time})
df

,SERIES,PLACE,DATE,TIME
0,INDIA WOMEN TOUR OF BANGLADESH T20 SERIES 2024,"Sylhet International Cricket Stadium, Sylhet","6 MAY, 2024",3:30 PM IST
1,INDIA WOMEN TOUR OF BANGLADESH T20 SERIES 2024,"Sylhet International Cricket Stadium, Sylhet","9 MAY, 2024",3:30 PM IST
2,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","5 JUNE, 2024",8:00 PM IST
3,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","9 JUNE, 2024",8:00 PM IST
4,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","12 JUNE, 2024",8:00 PM IST
5,ICC MENS T20 WORLD CUP 2024,"Central Broward Park & Broward County Stadium,...","15 JUNE, 2024",8:00 PM IST
6,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","6 JULY, 2024",8:00 PM IST
7,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","7 JULY, 2024",8:00 PM IST
8,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","10 JULY, 2024",8:00 PM IST

In [113]:
driver.close()

## 3. Scrape the details of State-wise GDP of India from statisticstime.com.Url = http://statisticstimes.com/ You have to find following details:

A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [140]:
driver=webdriver.Chrome()
driver.get('http://statisticstimes.com/')

In [141]:
from selenium.common.exceptions import ElementNotInteractableException

In [142]:
try:
    economy=driver.find_element(By.XPATH,'//div[@class="navbar"]/div[2]/button')
    a=driver.find_element(By.XPATH,'//div[@class="navbar"]/div[2]/div/a[3]')
    a.click()
except ElementNotInteractableException as e:
    print('Exception Raised:',e)
    b=driver.find_element(By.XPATH,'//div[@class="navbar"]/div[2]/div/a[3]')
    driver.get(a.get_attribute('href'))

Exception Raised: Message: element not interactable
  (Session info: chrome=124.0.6367.119)
Stacktrace:
	GetHandleVerifier [0x00007FF6A8B51502+60802]
	(No symbol) [0x00007FF6A8ACAC02]
	(No symbol) [0x00007FF6A8987B13]
	(No symbol) [0x00007FF6A89D8052]
	(No symbol) [0x00007FF6A89CAE8B]
	(No symbol) [0x00007FF6A89FAB7A]
	(No symbol) [0x00007FF6A89CA7C6]
	(No symbol) [0x00007FF6A89FAD90]
	(No symbol) [0x00007FF6A8A1A224]
	(No symbol) [0x00007FF6A89FA923]
	(No symbol) [0x00007FF6A89C8FEC]
	(No symbol) [0x00007FF6A89C9C21]
	GetHandleVerifier [0x00007FF6A8E5411D+3217821]
	GetHandleVerifier [0x00007FF6A8E960B7+3488055]
	GetHandleVerifier [0x00007FF6A8E8F03F+3459263]
	GetHandleVerifier [0x00007FF6A8C0B846+823494]
	(No symbol) [0x00007FF6A8AD5F9F]
	(No symbol) [0x00007FF6A8AD0EC4]
	(No symbol) [0x00007FF6A8AD1052]
	(No symbol) [0x00007FF6A8AC18A4]
	BaseThreadInitThunk [0x00007FFE2C7E257D+29]
	RtlUserThreadStart [0x00007FFE2E24AA48+40]

In [143]:
GDP_indian_states=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
GDP_indian_states.click()

In [147]:
Rank=[]
State=[]
GSDP21_22=[]
GSDP22_23=[]
Share21_22=[]
GDP=[]
GSDP_table=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]')
for i in GSDP_table:
    try:
        rank=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody[1]/tr/td[1]')
        for a in rank:
            Rank.append(a.text)
    except NoSuchElementException:
        Rank.append('-')
    try:
        state=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody[1]/tr/td[2]')
        for a in state:
            State.append(a.text)
    except NoSuchElementException:
        State.append('-')
    try:
        gsdp21_22=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody[1]/tr/td[5]')
        for a in gsdp21_22:
            GSDP21_22.append(a.text)
    except NoSuchElementException:
        GSDP21_22.append('-')
    try:
        gsdp22_23=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody[1]/tr/td[4]')
        for a in gsdp22_23:
            GSDP22_23.append(a.text)
    except NoSuchElementException:
        GSDP22_23.append('-')
    try:
        share21_22=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody[1]/tr/td[6]')
        for a in share21_22:
            Share21_22.append(a.text)
    except NoSuchElementException:
        Share21_22.append('-')
    try:
        gdp=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody[1]/tr/td[7]')
        for a in gdp:
            GDP.append(a.text)
    except NoSuchElementException:
        GDP.append('-')

In [148]:
df=pd.DataFrame({'RANK':Rank[:33],'STATE':State[:33],'GSDP(21-22)':GSDP21_22[:33],'GSDP(22-23)':GSDP22_23[:33],
                 'SHARE(21-22)':Share21_22[:33],'GDP':GDP[:33]})
df

,RANK,STATE,GSDP(21-22),GSDP(22-23),SHARE(21-22),GDP
0,1,Maharashtra,"3,108,022",-,13.17%,414.928
1,2,Tamil Nadu,"2,071,286","2,364,514",8.78%,276.522
2,3,Karnataka,"1,978,094","2,269,995",8.38%,264.080
3,4,Uttar Pradesh,"1,975,595","2,258,040",8.37%,263.747
4,5,Gujarat,"1,928,683","2,230,609",8.17%,257.484
5,6,West Bengal,"1,329,238","1,531,758",5.63%,177.456
6,7,Rajasthan,"1,193,489","1,365,849",5.06%,159.334
7,8,Andhra Pradesh,"1,148,471","1,303,524",4.87%,153.324
8,9,Telangana,"1,124,204","1,308,034",4.76%,150.084
9,10,Madhya Pradesh,"1,092,964","1,246,471",4.63%,145.913
10,11,Kerala,"934,542","1,046,188",3.96%,124.764
11,12,Delhi,"881,336","1,014,688",3.73%,117.660
12,13,Haryana,"868,905","984,055",3.68%,116.001
13,14,Odisha,"662,886","753,177",2.81%,88.497
14,15,Bihar,"650,302","751,396",2.76%,86.817
15,16,Punjab,"617,192","676,164",2.62%,82.397
16,17,Assam,"411,454","493,167",1.74%,54.930
17,18,Chhattisgarh,"410,525","464,399",1.74%,54.806
18,19,Jharkhand,"358,863","393,722",1.52%,47.909
19,20,Uttarakhand,"267,143","303,781",1.13%,35.664
20,21,Jammu & Kashmir,"193,352","224,226",0.82%,25.813
21,22,Himachal Pradesh,"172,162","191,728",0.73%,22.984
22,23,Goa,"84,266","93,672",0.36%,11.250
23,24,Tripura,"62,550","72,636",0.27%,8.351
24,25,Chandigarh,"46,096","54,285",0.20%,6.154
25,26,Puducherry,"43,810","49,643",0.19%,5.849
26,27,Meghalaya,"38,785","42,697",0.16%,5.178
27,28,Sikkim,"37,557","42,756",0.16%,5.014
28,29,Manipur,"36,594",-,0.16%,4.885
29,30,Arunachal Pradesh,"34,775","39,630",0.15%,4.643
30,31,Nagaland,"31,038","35,643",0.13%,4.144
31,32,Mizoram,"27,824",-,0.12%,3.715
32,33,Andaman & Nicobar Islands,"10,371",-,0.04%,1.385

In [150]:
driver.close()

## 4. Scrape the details of trending repositories on Github.com. Url = https://github.com/

You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [50]:
github=webdriver.Chrome()
github.get('https://github.com/')

In [51]:
explore=github.find_element(By.CLASS_NAME,'Button-label')
explore.click()

In [52]:
open_source=github.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
open_source.click()

In [53]:
trending=github.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
trending.click()

In [102]:
Title=[]
Description=[]
contributors_count=[]
Language=[]
try:
    title=github.find_elements(By.XPATH,'//a[@class="Link"]')
    for i in title:
        Title.append(i.text)
except NoSuchElementException:
    Title.append('-') 
try:
    descript=github.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
    for i in descript:
        Description.append(i.text)
except NoSuchElementException:
    Description.append('-')
try:
    lang=github.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]/span[2]')
    for i in lang:
        Language.append(i.text)
except NoSuchElementException:
    Language.append('-') 
try:
    count=github.find_elements(By.XPATH,'//a[@class="Link Link--muted d-inline-block mr-3"][2]')
    for c in count:
        contributors_count.append(c.text)
except NoSuchElementException:
    contributors_count.append('-')

In [98]:
print(len(Title))
print(len(Description))
print(len(Language))
print(len(contributors_count))

25
24
23
25

In [104]:
github.close()

## 5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the following details:

A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [3]:
driver=webdriver.Chrome()
driver.get('https://www.billboard.com/')

In [5]:
menu=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button')
menu.click()

In [7]:
charts=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/button')
charts.click()

In [8]:
hot_100_pages=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/ul/li[2]/a')
hot_100_pages.click()

In [25]:
song_name=[]
artist_name=[]
last_week_rank=[]
peak_rank=[]
weeks_on_board=[]
try:
    song=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/h3')
    for s in song:
        song_name.append(s.text)
except NoSuchElementException:
    song_name.append('-') 
try:
    artist=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul[1]/li[1]/span[1]')
    for a in artist:
        artist_name.append(a.text)
except NoSuchElementException:
    artist_name.append('-') 
try:
    last=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-row u-background-color-grey-lightest@mobile-max"]/li[3]/span')
    for l in last:
        last_week_rank.append(l.text)
except NoSuchElementException:
    last_week_rank.append('-') 
try:
    peak=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-row u-background-color-grey-lightest@mobile-max"]/li[4]/span')
    for p in peak:
        peak_rank.append(p.text)
except NoSuchElementException:
    peak_rank.append('-') 
try:
    board=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-row u-background-color-grey-lightest@mobile-max"]/li[5]/span')
    for b in board:
        weeks_on_board.append(b.text)
except NoSuchElementException:
    weeks_on_board.append('-')

In [26]:
df=pd.DataFrame({'SONG NAMES':song_name,'ARTIST NAMES':artist_name,'LAST WEEK RANK':last_week_rank,'PEAK RANK':peak_rank,
                 'WEEKS ON BOARD':weeks_on_board})
df

,SONG NAMES,ARTIST NAMES,LAST WEEK RANK,PEAK RANK,WEEKS ON BOARD
0,Fortnight,Taylor Swift Featuring Post Malone,-,1,1
1,Down Bad,Taylor Swift,-,2,1
2,I Can Do It With A Broken Heart,Taylor Swift,-,3,1
3,The Tortured Poets Department,Taylor Swift,-,4,1
4,"So Long, London",Taylor Swift,-,5,1
...,...,...,...,...,...
95,Us Vs. Them,$uicideBoy$,-,96,1
96,Wine Into Whiskey,Tucker Wetmore,84,77,5
97,Spin You Around (1/24),Morgan Wallen,89,24,13
98,Soak City,310babii,82,53,19
99,Selfish,Justin Timberlake,60,19,13

In [27]:
driver.close()

## 6. Scrape the details of Highest selling novels. Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [28]:
novels=webdriver.Chrome()
novels.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [31]:
book_name=[]
author_name=[]
volumes_sold=[]
publishers=[]
genre=[]
try:
    book=novels.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for b in book:
        book_name.append(b.text)
except NoSuchElementException:
    book_name.append('-') 
try:
    author=novels.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for a in author:
        author_name.append(a.text)
except NoSuchElementException:
    author_name.append('-') 
try:
    sold=novels.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for s in sold:
        volumes_sold.append(s.text)
except NoSuchElementException:
    volumes_sold.append('-') 
try:
    publish=novels.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for p in publish:
        publishers.append(p.text)
except NoSuchElementException:
    publishers.append('-')
try:
    gen=novels.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for g in gen:
        genre.append(g.text)
except NoSuchElementException:
    genre.append('-')

In [32]:
df=pd.DataFrame({'BOOK NAMES':book_name,'AUTHOR NAMES':author_name,'VOLUMES SOLD':volumes_sold,'publishers':publishers,
                'GENRE':genre})
df

,BOOK NAMES,AUTHOR NAMES,VOLUMES SOLD,publishers,GENRE
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [33]:
novels.close()

## 7. Scrape the details most watched tv series of all time from imdb.com. Url = ttps://www.imdb.com/list/ls512407256/ You have to find the following details:

A) Name
B) Year span
C) Genre
D) Episodes
E) Ratings
F) Votes

In [34]:
tv_series=webdriver.Chrome()
tv_series.get('https://www.imdb.com/list/ls512407256/')

In [38]:
Names=[]
span_year=[]
genre=[]
Episodes=[]
ratings=[]
votes=[]
try:
    name=tv_series.find_elements(By.XPATH,'//div[@class="sc-74bf520e-3 klvfeN dli-parent"]/div/div[2]/div[1]')
    for n in name:
        Names.append(n.text)
except NoSuchElementException:
    Names.append('-')
try:
    year=tv_series.find_elements(By.XPATH,'//div[@class="sc-74bf520e-3 klvfeN dli-parent"]/div/div[2]/div[2]/span[1]')
    for y in year:
        span_year.append(y.text)
except NoSuchElementException:
    span_year.append('-')
try:
    gen=tv_series.find_elements(By.XPATH,'//div[@class="sc-74bf520e-1 ictulU"]/div')
    for g in gen:
        genre.append(g.text)
except NoSuchElementException:
    genre.append('-')
try:
    episodes=tv_series.find_elements(By.XPATH,'//div[@class="sc-74bf520e-3 klvfeN dli-parent"]/div/div[2]/div[2]/span[2]')
    for i in episodes:
        Episodes.append(i.text)
except NoSuchElementException:
    Episodes.append('-')
try:
    rati=tv_series.find_elements(By.XPATH,'//span[@class="sc-b189961a-1 kcfvgk"]/div/span[1]')
    for i in rati:
        ratings.append(i.text)
except NoSuchElementException:
    ratings.append('-')
try:
    vote=tv_series.find_elements(By.XPATH,'//span[@class="sc-b189961a-1 kcfvgk"]/div/span[1]/span')
    for v in vote:
        votes.append(v.text)
except NoSuchElementException:
    votes.append('-')

In [39]:
df=pd.DataFrame({'SERIES NAMES':Names,'YEAR OF SPAN':span_year,'GENRE':genre,'EPISODES':Episodes,'RATINGS':ratings,
                 'VOTES':votes})
df

,SERIES NAMES,YEAR OF SPAN,GENRE,EPISODES,RATINGS,VOTES
0,1. Game of Thrones,2011–2019,Nine noble families fight for control over the...,74 eps,9.2\n (2.3M),(2.3M)
1,2. Stranger Things,2016–2025,"When a young boy vanishes, a small town uncove...",42 eps,8.7\n (1.3M),(1.3M)
2,3. The Walking Dead,2010–2022,Sheriff Deputy Rick Grimes wakes up from a com...,177 eps,8.1\n (1.1M),(1.1M)
3,4. 13 Reasons Why,2017–2020,"Follows teenager Clay Jensen, in his quest to ...",49 eps,7.5\n (316K),(316K)
4,5. The 100,2014–2020,Set 97 years after a nuclear war destroyed civ...,100 eps,7.6\n (277K),(277K)
...,...,...,...,...,...,...
195,196. Reign,2013–2017,"Mary, Queen of Scots, faces political and sexu...",78 eps,7.5\n (54K),(54K)
196,197. A Series of Unfortunate Events,2017–2019,After the loss of their parents in a mysteriou...,25 eps,7.7\n (67K),(67K)
197,198. Criminal Minds,2005–,A group of criminal profilers who work for the...,344 eps,8.1\n (219K),(219K)
198,199. Scream: The TV Series,2015–2019,A serialized anthology series that follows a g...,29 eps,7.0\n (45K),(45K)
199,200. The Haunting of Hill House,2018,"Flashing between past and present, a fractured...",10 eps,8.5\n (289K),(289K)

In [40]:
tv_series.close()

## 8. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/ You have to find the following details:

A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute 
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [41]:
ml_repositories=webdriver.Chrome()
ml_repositories.get('https://archive.ics.uci.edu/')

In [42]:
view_datasets=ml_repositories.find_element(By.XPATH,'//a[@class="btn-primary btn"]')
view_datasets.click()

In [43]:
expand_all=ml_repositories.find_element(By.XPATH,'//div[@class="swap"][2]')
expand_all.click()

In [47]:
Dataset_name=[]
data_type=[]
Task=[]
attribute_type=[]
no_of_instances=[]
no_of_attributes=[]
Year=[]
try:
    dataset_name=ml_repositories.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]/a')
    for n in dataset_name:
        Dataset_name.append(n.text)
except NoSuchElementException:
    Dataset_name.append('-')
try:
    datatype=ml_repositories.find_elements(By.XPATH,'//tbody[@class="border"]/tr/td[2]')
    for t in datatype:
        data_type.append(t.text)
except NoSuchElementException:
    data_type.append('-')
try:
    task=ml_repositories.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[1]/span')
    for s in task:
        Task.append(s.text)
except NoSuchElementException:
    Task.append('-')
try:
    attr_type=ml_repositories.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[2]/span')
    for t in attr_type:
        attribute_type.append(t.text)
except NoSuchElementException:
    attribute_type.append('-')
try:
    instances=ml_repositories.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[3]/span')
    for i in instances:
        no_of_instances.append(i.text)
except NoSuchElementException:
    no_of_instances.append('-')
try:
    attributes=ml_repositories.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[4]/span')
    for n in attributes:
        no_of_attributes.append(n.text)
except NoSuchElementException:
    no_of_attributes.append('-')
try:
    year=ml_repositories.find_elements(By.XPATH,'//tbody[@class="border"]/tr/td[3]')
    for y in year:
        Year.append(y.text)
except NoSuchElementException:
    Year.append('-')

In [48]:
df=pd.DataFrame({'DATASET NAMES':Dataset_name,'DATA TYPES':data_type,'TASK':Task,'ATTRIBUTE TYPE':attribute_type,
'NUMBER OF INSTANCES':no_of_instances,'NUMBER OF ATTRIBUTES':no_of_attributes,'YEAR':Year})
df

,DATASET NAMES,DATA TYPES,TASK,ATTRIBUTE TYPE,NUMBER OF INSTANCES,NUMBER OF ATTRIBUTES,YEAR
0,Iris,Real,Classification,Tabular,150 Instances,4 Features,7/1/1988
1,Heart Disease,"Categorical, Integer, Real",Classification,Multivariate,303 Instances,13 Features,7/1/1988
2,Dry Bean,"Integer, Real",Classification,Multivariate,13.61K Instances,16 Features,9/14/2020
3,Rice (Cammeo and Osmancik),Real,Classification,Multivariate,3.81K Instances,7 Features,10/6/2019
4,Adult,"Categorical, Integer",Classification,Multivariate,48.84K Instances,14 Features,5/1/1996
5,Breast Cancer Wisconsin (Diagnostic),Real,Classification,Multivariate,569 Instances,30 Features,11/1/1995
6,Raisin,"Real, Integer",Classification,Multivariate,900 Instances,8 Features,8/14/2023
7,Wine,"Integer, Real",Classification,Tabular,178 Instances,13 Features,7/1/1991
8,Wine Quality,Real,"Classification, Regression",Multivariate,4.9K Instances,12 Features,10/7/2009
9,Diabetes,"Categorical, Integer",Classification,"Multivariate, Time-Series",1 Instances,20 Features,N/A

In [49]:
ml_repositories.close()