In [9]:
def func(a,b):
    return b if a==0 else func(b%a,a)
print(func(30,75))

15

In [10]:
numbers = (4, 7, 19, 2, 89, 45, 72, 22)
sorted_numbers = sorted(numbers)
even = lambda a: a % 2 == 0
even_numbers = filter(even, sorted_numbers)
print(type(even_numbers))

<class 'filter'>

In [11]:
set1 = {14, 3, 55}
set2 = {82, 49, 62}
set3={99,22,17}
print(len(set1 + set2 + set3))

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [1]:
print(4**3 + (7 + 5)**(1 + 1))

208

In [38]:
captains = {
"Enterprise": "Picard",
"Voyager": "Janeway",
"Defiant": "Sisko",
}

In [39]:
for ship, captain in captains.items():
    print(ship, captain)

Enterprise Picard
Voyager Janeway
Defiant Sisko

In [40]:
for ship in captains:
    print(ship, captains[ship])

Enterprise Picard
Voyager Janeway
Defiant Sisko

In [41]:
for ship in captains:
    print(ship, captains)

Enterprise {'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}
Voyager {'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}
Defiant {'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}

In [42]:
captains{"Enterprise" = "Picard"}
captains{"Voyager" = "Janeway"}
captains{"Defiant" = "Sisko"}

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2706233104.py, line 1)

In [43]:
captains["Enterprise"] = "Picard"
captains["Voyager"] = "Janeway"
captains["Defiant"] = "Sisko"

In [44]:
captains

{'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}

In [45]:
captains = {
"Enterprise": "Picard",
"Voyager": "Janeway",
"Defiant": "Sisko",
}

In [46]:
captains

{'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}

In [47]:
for item in captains.items():
    print(f"The [ship] is captained by [captain].")

The [ship] is captained by [captain].
The [ship] is captained by [captain].
The [ship] is captained by [captain].

In [48]:
for ship, captain in captains.items():
    print(f"The {ship} is captained by {captain}.")

The Enterprise is captained by Picard.
The Voyager is captained by Janeway.
The Defiant is captained by Sisko.

In [49]:
for captain, ship in captains.items():
    print(f"The {ship} is captained by {captain}.")

The Picard is captained by Enterprise.
The Janeway is captained by Voyager.
The Sisko is captained by Defiant.

In [57]:
captains={
"Enterprise": "Picard",
"Voyager": "Janeway",
"Defiant": "Sisko",
"Discovery": "unknown",
}

In [58]:
del captains

In [59]:
captains

NameError: name 'captains' is not defined

In [60]:
captains={
"Enterprise": "Picard",
"Voyager": "Janeway",
"Defiant": "Sisko",
"Discovery": "unknown",
}

In [61]:
captains .remove()

AttributeError: 'dict' object has no attribute 'remove'

In [62]:
captains={
"Enterprise": "Picard",
"Voyager": "Janeway",
"Defiant": "Sisko",
"Discovery": "unknown",
}

In [63]:
del captains["Discovery"]

In [64]:
captains

{'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}

In [65]:
captains={
"Enterprise": "Picard",
"Voyager": "Janeway",
"Defiant": "Sisko",
"Discovery": "unknown",
}

In [66]:
captains["Discovery"].pop()

AttributeError: 'str' object has no attribute 'pop'